export(down_sample_cells)
export(down_sample_genes)
export(down_sample_counts)
export(correct_gene_length)
export(summarize_pairs)
export(congruent_pair_distance)
export(celltype_diff_pairs)
export(celltype_stats)
export(merge_lists)
export(factor_counts)
export(row_mean_aggregate)
export(row_var_aggregate)
export(cosine_dist)
export(fit_ZINB_to_matrix)
export(fit_NB_to_matrix)
export(calculate_summary_values)
import(Matrix)

