export(merge_lists)
export(merge_profiles)
export(row_mean_aggregate)
export(col_mean_aggregate)
export(row_var_aggregate)
export(col_var_aggregate)
export(check_row_col_names)
export(fit_ZINB_to_matrix)
export(fit_NB_to_matrix)
export(fit_zero_inflated_negative_binomial)
export(fit_ZINB_to_SCE)
export(calculate_summary_values)
export(quantile_norm)
export(scnorm)
export(scaled_regression)
export(sctrans)
export(log_transform)
export(total_norm)
export(gene_length_norm)
export(base_dist)
export(cosine_dist)
export(pearson_dist)
export(spearman_dist)
export(phis_dist)
export(rhop_dist)
export(merge_across_protocols)
export(tree_of_cells)
export(apply_feature_selection)
export(top_diff_fs)
export(fold_change_fs)
export(distribution_olap_fs)
export(dropout_fs)
export(convert_to_integer)
export(factor_counts)
import(Matrix)
import(phangorn)
import(ape)
import(propr)
import(lsa)
import(preprocessCore)
import(nlme)
import(RColorBrewer)
import(SingleCellExperiment)
import(SummarizedExperiment)
importFrom("grDevices", "rainbow")
importFrom("graphics", "abline", "axis", "hist", "layout", "lines",
             "mtext", "par", "plot.new", "rect", "text", "title")
importFrom("stats", "as.dendrogram", "cor", "density", "dist",
             "hclust", "lm", "median", "order.dendrogram", "pnorm",
             "qnbinom", "qpois", "quantile", "reorder", "sd", "var",
             "wilcox.test", "rpois")

